{% extends 'reclamos/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="reclamo">
                <p><b>Archivo de intercambio Municipalidad (TSUM - FFI):</b></p>
                <br>
                <p>Ingrese el número del percibido a consultar y período.</p>
                <p>Aguarde que termine el proceso y a continuación se descargarán</p>
                <p>los archivos resultantes.</p>
                <br>
                <p>{{ error|safe }}</p>
                <p><b><u>Parámetros:</u></b></p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <p><b>Tipo</b></p>
                        <input type="radio" id="ffi" name="tipo" value="FFI">
                        <label for="ffi">FFI - Reporte</label><br>
                        <input type="radio" id="tsum" name="tipo" value="TSUM">
                        <label for="tsum">TSUM - Reporte</label><br>
                        <input type="radio" id="tsum2" name="tipo" value="TSUM2">
                        <label for="tsum2">TSUM - Archivo de intercambio</label><br>
                    </p>
                    <label for="tabla">Número de percibido: </label>
                    <p><input type="number" name="tabla"/></p>
                    <label for="desde">Desde (AAAAMMDD): </label>
                    <p><input type="number" name="desde"/></p>
                    <label for="hasta">Hasta (AAAAMMDD): </label>
                    <p><input type="number" name="hasta"/></p>
                    <p><input type="submit" value="Procesar"/></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
