{% extends 'reclamos/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="reclamo">
                <p><b>Carga de archivo Masivo de Deuda:</b></p>
                <br>
                <p>Ingrese el archivo Masivo de Deuda generado por SISA.</p>
                <p>Aguarde que termine el proceso, a continuación se descargará un log</p>
                <p>informando el resultado.</p>
                <br>
                {% if masivo %}
                    {% if vencido == 'si' %}
                    <p><b>&Uacute;ltima carga Masivo de Deuda:</b> <span style="color:red">{{ masivo }}</span></p>
                    {% else %}
                    <p><b>&Uacute;ltima carga Masivo de Deuda:</b> <span style="color:blue">{{ masivo }}</span></p>
                    {% endif %}
                {% else %}
                    <p><b>&Uacute;ltima carga Masivo de Deuda:</b> <span style="color:gray">No hay cargas previas</span></p>
                {% endif %}
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.archivo.id_for_label }}">{{ form.archivo.label }}:</label>
                        {{ form.archivo }}
                        {% if form.archivo.errors %}
                            <div style="color:red">{{ form.archivo.errors }}</div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="{{ form.fecha_masivo.id_for_label }}">{{ form.fecha_masivo.label }}:</label>
                        {{ form.fecha_masivo }}
                        {% if form.fecha_masivo.help_text %}
                            <small style="color:gray">{{ form.fecha_masivo.help_text }}</small>
                        {% endif %}
                        {% if form.fecha_masivo.errors %}
                            <div style="color:red">{{ form.fecha_masivo.errors }}</div>
                        {% endif %}
                    </div>
                    <br>
                    <p><input type="submit" value="Cargar archivo"/></p>
                </form>
                <hr>
                <div style="background-color: #f0f0f0; padding: 10px; border-left: 4px solid #007bff;">
                    <p><b>Nota:</b></p>
                    <ul>
                        <li>Se informa en los <b>comprobantes de reclamo</b> cuando la deuda es igual o superior a <b>${{ umbral_deuda|floatformat:0 }}</b>.</li>
                        <li>Se agrega comentario "Se entrega Estado de Cuenta" en las <b>cuadrillas de agua y cloacas</b> cuando la deuda es igual o superior a <b>${{ umbral_deuda_cuadrilla|floatformat:0 }}</b>.</li>
                    </ul>
                </div>
                <br><br><br><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
