{% extends 'reclamos/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="reclamo">
                <p><b>Carga de archivo Masivo de Deuda:</b></p>
                <br>
                <p>Ingrese el archivo Masivo de Deuda generado por SISA.</p>
                <p>Aguarde que termine el proceso, a continuación se descargará un log</p>
                <p>informando el resultado.</p>
                <br>
                {% if vencido == 'si' %}
                <p><b>&Uacute;ltima carga Masivo de Deuda:</b> <span style="color:red">{{ masivo }}</span></p>
                {% else %}
                <p><b>&Uacute;ltima carga Masivo de Deuda:</b> <span style="color:blue">{{ masivo }}</span></p>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="archivo">Ingrese archivo Deuda Masivo SISA: </label>
                    <p><input type="file" name="archivo"/></p>
                    <p><input type="submit" value="Cargar archivo"/></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
