{% extends 'reclamos/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="reclamo">
                <p><b>Conversor de archivo RBC enviado por la Municipalidad:</b></p>
                <br>
                <p>Ingrese el archivo original. Aguarde que termine el proceso y a continuación se descargará</p>
                <p>un archivo ZIP conteniendo el archivo CSV resultante y un Log con los detalles del proceso.</p>
                <p>En caso de error solo se descargará el Log informando el mismo.</p>
                <br>
                <p>Ingrese archivo:</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><input type="file" name="data_file"/></p>
                    <p><input type="submit" value="Convertir"/></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
