{% extends 'reclamos/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="reclamo">
                <p><b>Generaci&oacute;n de links de pago Pago F&aacute;cil:</b></p>
                <br>
                <p>Copie el link y peguelo donde corresponda.</p>
                <br>
                <p><b><u>Link:</u></b></p>
                <br>
                <a href="{{ link }}">{{ link }}</a>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
