{% extends 'reclamos/base.html' %}

{% block content %}
    <title>Reporte reclamos correo</title>
        {% load static %}
        <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <h2>Reporte reclamos correo:</h2>
        {% if perms.reclamos.admin_tools_3 %}
        <table>
            <tr>
                <td class="editar_reclamo">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <p><b>Tipo de reporte</b></p>
                            <input type="radio" id="imprime" name="tipo" value="imprime">
                            <label for="imprime">Se imprimen</label><br>
                            <input type="radio" id="noimprime" name="tipo" value="noimprime">
                            <label for="noimprime">No se imprimen</label><br>
                            <input type="radio" id="todo" name="tipo" value="todo">
                            <label for="todo">Todos</label><br>
                        </div>
                        <label for="desde">Desde (AAAAMMDD): </label>
                        <p><input type="text" name="desde" id="desde"/></p>
                        <label for="hasta">Hasta (AAAAMMDD): </label>
                        <p><input type="text" name="hasta" id="hasta"/></p>
                        <p><input type="submit" value="Procesar"/></p>
                    </form>
            </tr>
        </table>
        {% endif %}
    <br><br><br><br>
{% endblock %}
