{% extends 'reclamos/base.html' %}

{% block content %}
    {% if perms.reclamos.rrhh %}
    <title>Editar novedad</title>
        {% load static %}
        <h2>Editar novedad:</h2>
        <table>
            <tr>
                <td class="editar_novedad">
                    <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
                        <table class="editar_novedad">
                            {{ novedad_form.as_table }}
                        </table>
                        <p style="color:white">-</p>
                        <button type="submit" class="btn btn-default"><b>Guardar</b></button>
                    </form>
                </td>
            </tr>
        </table>
    {% endif %}
    <br><br><br><br>
{% endblock %}
